html{
    font-family: sans-serif;
}

.wrapper{
    width: 100%;
    margin: auto;
}

/*///////////////////////////////////////////////////////////
EN-TETE
///////////////////////////////////////////////////////////*/

.entete{
    height: 250px;
    background-image: url(../images/entete.jpg);
    background-size: 100%;
    background-position: top;
    display: flex;
    flex-direction: column;
}

.entete_logo{
    width: 40%;
    align-self: flex-start;
    margin-left: 3.5em;
}

.entete_panier{
    color: black;
    text-decoration: none;
    font-size: 20px;
    align-self: flex-end;
    margin: 2.5em 5em;
}

.menu{
    height: 3em;
    background-color: #363535;
    display: flex;
    flex-direction: row;
}

.menu > li{
    display: inline;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    color: white;
}

.menu > li:hover{
    background-color: #17527a;
}

.menu > li > a{
    display: block;
    margin-top: 1em;
    text-align: center;
    color: white;
    text-decoration: none;
}

.menucache, .menucache2{
    /*height: 165px;*/
    height: 0;
    overflow: hidden;
    background-color: #404040;
    width: 50%;
    border-radius: 0 0 5px 5px;
}

.menucache2{
    margin-left: 19.7em;
}

.menucache-titre{
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    margin-bottom: 0.5em;
}

.menucache_liste{
    float: left;
    margin: 1em;
}

.menucache_liste > li{
    color: #d1d1d1;
    font-size: 13px;
    margin: 0.5em 0;
}

/*///////////////////////////////////////////////////////////
CONTENU PAGE D'ACCUEIL
///////////////////////////////////////////////////////////*/

.tendances{
    width: 98%;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: bisque;
    position: relative;
    overflow: hidden;
}

.tendances_titre{
    position: absolute;
    top: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #17527a;
    margin-left: 2em;
    z-index: 1;
}

@keyframes defilement{
    0% {left: 0;}
    50% {left: -80em;}
    100% {left: -140em;}
}

.tendances_img{
    display: block;
    position: absolute;
    overflow: hidden;
    height: inherit;
    animation-name: defilement;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.nouveautes{
    position: relative;
    width: 98%;
    margin: 30px auto;
    padding-top: 1em;
    height: 175px;
    display: flex;
    flex-direction: row;
    background-color: #363535;
}

.nouveautes_titre{
    position: absolute;
    top: 0;
    font-size: 22px;
    text-transform: uppercase;
    color: #4498d2;
    margin-left: 2em;
}

.nouveautes_item{
    height: 130px;
    width: 200px;
}

.nouveautes_item img{
    height: 120px;
    display: block;
    margin: auto;
}

.nouveautes_item h3{
    text-align: center;
    color: whitesmoke;
    font-size: 12px;
    width: 10em;
    margin: auto;
}

.designer{
    position: relative;
    width: 98%;
    height: 166px;
    margin: auto;
    background-image: url(../images/designer.jpg);
    background-size: cover;
}

.designer_titre{
    width: 50%;
    color: #193d5b;
    background-color: rgba(242, 242, 242, 0.5);
    font-size: 21px;
    padding: 0.5em 1em;
    margin: 1em 0 0 1em;
}

.designer_liste{
    width: 50%;
    color: #22517f;
    background-color: rgba(242, 242, 242, 0.5);
    padding: 1.3em;
    margin-left: 1.35em;
}

.designer_button{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 5em;
}

/*///////////////////////////////////////////////////////////
PANIER
///////////////////////////////////////////////////////////*/

.etapes_liste{
    height: 50px;
    width: 80%;
    margin: 2em auto;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #cdcdcd;
}

.etapes_liste li{
    display: inline;
    text-align: center;
    padding: 1.2em;
    width: 8em;
    position: relative;
}

.etapes_liste li span{
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color: #17527a;
    color: white;
    font-weight: bold;
}

.panier{
    margin: auto;
    width: 90%;
    empty-cells: hide;
}

td{
    border: 1px solid black;
    vertical-align: middle;
}

table img{
    width: 30%;
    display: block;
    margin: auto;
}

th{
    height: 50px;
    background-color: #363535;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

td{
    height: 70px;
    padding: 1em;
}

td input{
    width: 1.5em;
    display: block;
    margin: auto;
}

.panier_boutons{
    width: 4em;
    display: block;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

td button{
    background-color: #363535;
    border: 0;
    height: 25px;
    width: 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.panier_prix{
    text-align: center;
}

.total{
    font-weight: bold;
}

.panier_vide{
    border: 0;
}

.commande{
    background-color: #363535;
    border: 0;
    padding: 0.5em;
    margin: 2em;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

/*///////////////////////////////////////////////////////////
UTILISATEUR
///////////////////////////////////////////////////////////*/

.utilisateur{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 610px;
    margin-bottom: 5em;
}

.utilisateur_titre{
    position: absolute;
    top: 1em;
    text-align: center;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
}

.utilisateur_profil{
    width: 20%;
    margin: 5em 0 5em 10em;
    border: 3px solid black;
    border-radius: 5px;
}

.utilisateur_profil-img{
    width: 80%;
    display: block;
    margin: auto;
}

.utilisateur_profil p{
    text-align: center;
    font-weight: bold;
}

.utilisateur_liens{
    width: 30%;
    margin-left: 10em;
}

.utilisateur_infos{
    width: 40%;
    margin-top: 5em;
}

.utilisateur_infos p{
    
}

.utilisateur_infos p a{
    color: blue;
    font-size: 14px;
}

.utilisateur_infos-tags{
    margin-top: 0.5em;
}

.utilisateur_infos-tags li{
    display: inline;
    background-color: #9ebed8;
    padding: 5px;
    border-radius: 3px;
}

.utilisateur_infos-tags li button{
    font-size: 11px;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 5px;
    background-color: #5d9dd1;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.utilisateur_articles{
    width: 40%;
    height: 150px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 3em 3em 0 0;
}

.utilisateur_articles h2{
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

.utilisateur_articles-item{
    width: 20%;
    height: 150px;
    margin: 2em 1em 0;
}

.utilisateur_articles-item img{
    height: 130px;
    display: block;
    margin: auto;
}

.utilisateur_articles-nom{
   font-size: 12px;
}

.utilisateur_recommandations{
     width: 40%;
    height: 150px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 4em 3em 0 0;
}

.utilisateur_recommandations h2{
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

.utilisateur_recommandations-item{
    width: 20%;
    height: 150px;
    margin: 2em 1em 0;
}

.utilisateur_recommandations-item img{
    height: 130px;
    display: block;
    margin: auto;
}

.utilisateur_recommandations-nom{
    font-size: 12px;
}

/*///////////////////////////////////////////////////////////
FOOTER
///////////////////////////////////////////////////////////*/

footer{
    width: 100%;
    height: 160px;
    background-color: #5c86a2;
    margin-top: 20px;
}

.footer_text{
    padding-top: 2em;
}

.footer_p{
    text-align: center;
}

.footer_logos{
    width: 160px;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



